@media print {
    #accordionSidebar {
        visibility: hidden;
    }
}

body {
    background-color: #f5f5f5;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 12px;
}

.btn {
    border-radius: 5px !important;
    margin-bottom: 1%;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #1250a3;
    border-color: #1250a3;
    box-shadow: unset;
    font-size: 14px !important;
}



.btn {
    display: inline-block;
    font-family: Poppins, sans-serif;

    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;

    padding: 0.375rem 0.75rem;
    font-size: 0.85rem;
    line-height: 1.5;
    border-radius: 8px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



.btn:hover {
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0 14px 26px -12px rgb(0 0 0 / 10%), 0 4px 23px 0 rgb(0 0 0 / 10%), 0 8px 10px -5px rgb(0 0 0 / 10%);
    box-shadow: 0 14px 26px -12px rgb(0 0 0 / 10%), 0 4px 23px 0 rgb(0 0 0 / 10%), 0 8px 10px -5px rgb(0 0 0 / 10%);

}



.rounded-normal,
.rounded-small {
    border-radius: 8px;
}

.bg-danger {
    color: #fff !important;
    background-color: #ff4b4b !important;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#content {
    background-color: #f5f5f5;
}

.bg-gradient-primary {
    background-image: linear-gradient(1deg, #3e8bf9, #1657bb);
}

.border-left-primary {
    border-left: 0.25rem solid blue;
    /* Use a valid color representation for blue */
}

.border-left-primary {
    border-left: .25rem solid #2273be !important;
}

.img-circle {
    border-radius: 50%;
}

.navbar-nav {
    margin-left: 0.5%;
    margin-top: 0.5%;

    margin-bottom: 0.5%;
    border-radius: 15px;


}

.bg-white {
    background: #fff !important;
}

.navbar {

    background-color: #fff;
    transition: margin-left 0.3s ease-in-out;
    margin-right: 1%;

    z-index: 999;
    width: 85%;
    position: fixed;
    min-height: 60px;

    border-bottom: 0px solid rgba(72, 94, 144, 0.16);
    padding: 0 0.5rem;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 0%);
}

.container-fluid {
    display: block;
    margin-top: 5%;

    width: 95%;

}

.sidebar-heading {
    color: white;

    background: rgba(98, 59, 240, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;

    border-radius: 7px;
    width: 90%;
}

#content-wrapper {
    background-color: #fff;
}

#wrapper {
    background-color: #fff;

}